.button-logout
{
  display: flex;
  position:fixed;
  justify-content: space-around;
  align-items: center;
  right:50px;
  bottom: 50px;
  width: 78px;
  height: 35px;
  background-color: red;
  border-radius: 10px;
  color: white;
}

#icon{
  width: 20px;
}
