.main-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 255px; /* Largura do sidebar */
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  width: 80%; /* Ajuste conforme necessário */

}

.login-form {
  width: 420px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 25px;
  background-color: #f0f0f0;
  border-radius: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 1px solid grey;
  box-shadow: 2px 4px 15px 1px rgba(0, 0, 0, 0.8);
}

.titulo {
  display: flex;
  justify-content: center;
  font-size: 50px;
  color: purple;
  margin-bottom: 20px;
}

h2 {
  text-align: center;
  font-size: 30px;
  color: purple;
}

.form-group {
  margin-bottom: 0px;
  width: 100%;
}

.login-form label {
  font-weight: bold;
}

.form-group .inline {
  display: inline-block;
  margin: 0;
}


.login-form button:hover {
  background-color: rgb(8, 247, 0);
}

#botao{
  align-items: center;
  padding: 10px;
  width: 90px;
  margin-left: 70px;
}
