<div class="main-container">
  <div class="container">
    <div class="titulo">HISTÓRICO DE CHAMADOS</div>
    <div *ngFor="let chamado of chamados" class="login-form">
      <form>
        <div class="form-group">
          <input type="hidden" [(ngModel)]="chamado.id">
          <label for="titulo">Título:</label>
          <p>{{ chamado.titulo }}</p>
        </div>
        <div class="form-group">
          <label for="descricao">Descrição:</label>
          <p>{{ chamado.descricao }}</p>
        </div>
        <div class="form-group">
          <label for="status">Status:</label>
          <h4 class="inline">{{ chamado.status }}</h4>
        </div>
        <div class="form-group">
          <label for="gravidade">Gravidade:</label>
          <h4 class="inline">{{ chamado.gravidade }}</h4>
        </div>
        <div class="form-group">
          <label for="produto">Referente ao produto:</label>
          <h4 class="inline">{{ chamado.produto.nome }}</h4>
        </div>
        <div class="form-group">
          <label for="cliente">Referente ao cliente:</label>
          <h4 class="inline">{{ chamado.cliente.nome }}</h4>
        </div>
        <div class="form-group">
          <label for="status">Atualizar status:</label>
          <select name="status" change="atribuiValores(chamado.id, chamado.status)" [(ngModel)]="chamado.status">
            <option value="SOLICITADO">Solicitado</option>
            <option value="EM_ANALISE">Em análise</option>
            <option value="FINALIZADO">Finalizado</option>
          </select >
          <button class="inline" id="botao" type="submit" (click)="transformaEmDTO(chamado)" class="btn btn-success">Atualizar</button>
        </div>
      </form>
    </div>
  </div>
</div>
