<div class="sidebar">
  <div class="sidebar-header">
    <h2>Fulano</h2>
  </div>

  <div class="dropdown" [ngClass]="{'show': dropdowns[0].isOpen}">
    <button class="dropdown-btn" (click)="toggleDropdown(0)">
      Usuários <i class="fa" [ngClass]="{'fa-chevron-down': !dropdowns[0].isOpen, 'fa-chevron-up': dropdowns[0].isOpen}"></i>
    </button>
    <div class="dropdown-content" *ngIf="dropdowns[0].isOpen">
      <a routerLink="/admin/listaUsuarios">Visualizar Usuários</a>
    </div>
  </div>

  <div class="dropdown" [ngClass]="{'show': dropdowns[1].isOpen}">
    <button class="dropdown-btn" (click)="toggleDropdown(1)">
      Unidade de Negócio <i class="fa" [ngClass]="{'fa-chevron-down': !dropdowns[1].isOpen, 'fa-chevron-up': dropdowns[1].isOpen}"></i>
    </button>
    <div class="dropdown-content" *ngIf="dropdowns[1].isOpen">
      <a routerLink="/admin/paginaCadastroUnidade">Cadastrar Unidade de Negócio</a>
      <a routerLink="/admin/listaUnidade">Visualizar Unidades de Negócio</a>
    </div>
  </div>

  <div class="dropdown" [ngClass]="{'show': dropdowns[2].isOpen}">
    <button class="dropdown-btn" (click)="toggleDropdown(2)">
      Produto <i class="fa" [ngClass]="{'fa-chevron-down': !dropdowns[2].isOpen, 'fa-chevron-up': dropdowns[2].isOpen}"></i>
    </button>
    <div class="dropdown-content" *ngIf="dropdowns[2].isOpen">
      <a routerLink="/admin/cadastrarProduto">Cadastrar Produto</a>
      <a routerLink="/admin/listaProduto">Visualizar Produtos</a>
    </div>
  </div>

  <div class="dropdown" [ngClass]="{'show': dropdowns[3].isOpen}">
    <button class="dropdown-btn" (click)="toggleDropdown(3)">
      Chamados <i class="fa" [ngClass]="{'fa-chevron-down': !dropdowns[3].isOpen, 'fa-chevron-up': dropdowns[3].isOpen}"></i>
    </button>
    <div class="dropdown-content" *ngIf="dropdowns[3].isOpen">
      <a routerLink="/admin/listarChamado">Visualizar chamados</a>
    </div>
  </div>

  <div class="dropdown" [ngClass]="{'show': dropdowns[4].isOpen}">
    <button class="dropdown-btn" (click)="toggleDropdown(4)">
      Desenvolvedores <i class="fa" [ngClass]="{'fa-chevron-down': !dropdowns[4].isOpen, 'fa-chevron-up': dropdowns[4].isOpen}"></i>
    </button>
    <div class="dropdown-content" *ngIf="dropdowns[4].isOpen">
      <a routerLink="/admin/cadastrarDev">Cadastrar desenvolvedor</a>
      <a routerLink="/admin/listaDev">Visualizar desenvolvedores</a>
    </div>
  </div>

  <div class="dropdown" [ngClass]="{'show': dropdowns[5].isOpen}">
    <button class="dropdown-btn" (click)="toggleDropdown(5)">
      Task <i class="fa" [ngClass]="{'fa-chevron-down': !dropdowns[5].isOpen, 'fa-chevron-up': dropdowns[5].isOpen}"></i>
    </button>
    <div class="dropdown-content" *ngIf="dropdowns[5].isOpen">
      <a routerLink="/admin/cadastrarTarefa">Enviar Task</a>
      <a routerLink="/admin/listarTarefa">Visualizar Task</a>
    </div>
  </div>
</div>
