<div class="main-container">
  <div class="cadastro-container">
    <div class="titulo">
      <h1>Lista de Desenvolvedores</h1>
    </div>
    <div class="table-container">
      <table class="table table-striped table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>Nome</th>
            <th>CPF</th>
            <th>Email</th>
            <th>Login</th>
            <th>Data de Nascimento</th>
            <th>Salário</th>
            <th>Cargo</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let desenvolvedor of lista">
            <td>{{ desenvolvedor.nome }}</td>
            <td>{{ desenvolvedor.cpf }}</td>
            <td>{{ desenvolvedor.email }}</td>
            <td>{{ desenvolvedor.login }}</td>
            <td>{{ desenvolvedor.dataNasc | date:'dd/MM/yyyy' }}</td>
            <td>{{ desenvolvedor.salario.toFixed(2) | currency }}</td>
            <td>{{ desenvolvedor.cargo }}</td>
            <td>
              <button id="button" class="btn btn-edit">Editar</button>
              <button id="button" class="btn btn-delete" (click)="removerDev(desenvolvedor)">Excluir</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<ng-template #noData>
  <p>Nenhum desenvolvedor encontrado.</p>
</ng-template>
