.main-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 255px; /* Largura do sidebar */
  align-items: center;
}

#button{
  width: 80px;
}

.cadastro-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  width: 80%; /* Ajuste conforme necessário */
}

.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table {
  width: 100%;
  border-collapse: collapse;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table thead {
  background-color: #6a0dad;
  color: #fff;
}

.table thead th {
  padding: 15px;
  text-align: left;
}

.table tbody td {
  padding: 15px;
  border: 1px solid #dee2e6;
}

.table tbody tr:nth-child(even) {
  background-color: #f3e5f5;
}

.table tbody tr:hover {
  background-color: #d1c4e9;
}

h1 {
  color: #6a0dad;
  margin-bottom: 20px;
  text-align: center;
  font-size: 45px;
}

/* Estilo dos botões */
.btn {
  padding: 5px 9px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 3px;
  margin-right: 10px; /* Ajuste do espaçamento entre os botões */
  width: 60px; /* Definindo largura fixa para os botões */
  text-align: center; /* Centraliza o texto */
}

.btn:last-child {
  margin-right: 0; /* Remove margem do último botão */
}

.btn-edit {
  background-color: #28a745; /* Verde */
  color: white;
}

.btn-delete {
  background-color: #dc3545; /* Vermelho */
  color: white;
}

/* Ajustes adicionais para responsividade */
@media (max-width: 768px) {
  .table {
    width: 100%;
    margin-left: 0; /* Remover margem lateral em telas menores */
  }
}
