<div class="login-container">
  <div class="login-form">
    <form (ngSubmit)="cadastrarDesenvolvedor(desenvolvedor)">
      <div class="form-group">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" [(ngModel)]="desenvolvedor.nome" required>
      </div>
      <div class="form-group">
        <label for="cpf">CPF:</label>
        <input type="text" id="cpf" name="cpf" [(ngModel)]="desenvolvedor.cpf" required>
      </div>
      <div class="form-group">
        <label for="email">E-mail:</label>
        <input type="text" id="email" name="email" [(ngModel)]="desenvolvedor.email" required>
      </div>
      <div class="form-group">
        <label for="login">Login:</label>
        <input type="text" id="login" name="login" [(ngModel)]="desenvolvedor.login" required>
      </div>
      <div class="form-group">
        <label for="senha">Senha:</label>
        <input type="password" id="senha" name="senha" [(ngModel)]="desenvolvedor.senha" required>
      </div>
      <div class="form-group">
        <label for="dataNasc">Data de nascimento:</label>
        <input type="date" id="dataNasc" name="dataNasc" [(ngModel)]="desenvolvedor.dataNasc" required>
      </div>
      <div class="form-group">
        <label for="salario">Salário:</label>
        <input type="text" id="salario" name="salario" [(ngModel)]="desenvolvedor.salario" required>
      </div>
      <div class="form-group">
        <label for="cargo">Cargo:</label>
        <input type="text" id="cargo" name="cargo" [(ngModel)]="desenvolvedor.cargo" required>
      </div>
      <button type="submit">Cadastrar</button>
    </form>
  </div>
</div>
